*{
	box-sizing: border-box;
	font-size: 16px;
}

/*------------------------ HEADER ------------------------*/

.navbar-brand span{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-size: 9.375vw;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand div img{
	width: 13.125vw;
	height: 13.125vw;
}

header{
	background-color: #69AEAC;
	width: 100%;
	border-width: 0;

}


.navbar{
	background-color: #69AEAC !important;
}

.nav-item{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 5.625vw;
	color: #FFFFFF !important;
}

.navbar-toggler{}

/*--------------- HEADER END ------------------------*/

/*Main content !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.gradient{
	background: linear-gradient(to bottom, #69AEAC, rgba(0, 0, 0, 0));
    width: 100%;
    height: 20px;
    top:0;
}

.adv-img-m-0 img{
	width: 100%;
}

.bg{
	padding-top: 3.125vw;
	padding-bottom: 6.25vw;
}

.blue-bg{
	background-color: #69AEAC;
}


.discription-m-white{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 6.875vw;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slogans{
	list-style-image: url("../img/icons/list_marker_white.png");
	margin-left: 20%;
/*	display: flex;
	flex-direction: column;
	align-items: center;*/
}

.slogans li span{
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 5vw;
	color: #000000;
}

.pink-button{
	background: #F49AB4;
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 46.875%;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 5vw;
	color: #411F15;
	margin-left: 26%;
}


.header-m-black{
	text-align: center;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 8.125vw;
	color: #411F15;
	margin-bottom: 4vw;
}

.adv-img-m-45 img{
	margin-left: 4.5%;
	margin-right: 4.5%;
	width: 91%;
}

.adv-text-m-45{
	margin-left: 4.5%;
	margin-right: 4.5%;
}

.adv-text-m-45 div{
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 5vw;
	color: #411F15;
	text-indent: 9.375%;
}

.adv-container{
	position: relative;
	width: 100%;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
}

.adv-container-wh-m{
	height: 58.125vw;
	color: #FFFFFF;
}

.adv-container-br{
	height: 70.9375vw;
	color: #411F15;
}

.adv-container-wh-m div{
	font-size: 8.75vw;
	position: absolute;
}

.adv-container-wh-m div:nth-child(1){
	left: 8.125%;
}

.adv-container-wh-m div:nth-child(2){
	top: 25%;
	left: 54%;
	font-weight: 900;
}

.adv-container-wh-m div:nth-child(3){
	top: 42%;
	left: 15.6%;
}

.adv-container-wh-m div:nth-child(4){
	top: 57.5%;
	left: 57%;
}

.unicornlab-name{
	font-family: 'Playfair Display';
	font-style: normal;
	font-size: 9.375vw;
	color: #439a97!important;
	background: #FFFFFF;
	border: 1.25vw solid #439A97;
	border-radius: 3.125vw;
	top: 85%;
	left: 33%;
}

.adv-container-br div{
	font-size: 9.375vw;
	position: absolute;
}

.adv-container-br div:nth-child(1){
	top: 12%;
	left: 8.125%;
}

.adv-container-br div:nth-child(2){
	top: 39%;
	left: 35%;
	color: #439A97;
	font-weight: 700;
}

.adv-container-br div:nth-child(3){
	top: 62%;
	left: 8.125%;
}

#carouselExampleControls div img{
	height: 145.3125vw;
	width: 100%;
}

.mt-m-6_25vw{
	margin-top: 6.25vw;
}

.adv_card{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.adv_card img{
	width: 90%;
	margin-top: 7.8125vw;
	border-radius: 5px;
	margin-bottom: 3.4375vw;
}

.cloth_name{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 4.375vw;
	text-align: center;
	color: #411F15;
	margin-bottom: 3.4375vw;
}

.materials{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 4.375vw;
	color: #411F15;
	margin-bottom: 3.4375vw;
	text-align: center;
}

.btn_2{
	margin-bottom: 3.4375vw;
	background: #FFFFFF;
	border: 1px solid #439A97;
	border-radius: 7px;
	color: rgba(65, 31, 21, 0.65);
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 5,625vw;
}

.rounds{
	display: flex;
	margin-bottom: 4.6875vw; 
}

.round{
	width: 4.6875vw;
	height: 4.6875vw;
	margin-right: 1vw;
	margin-left: 1vw;
	border: 1px solid #439A97;
	border-radius: 100%;
}

.round_black{
	background: #000000;
}

.round_white{
	background-color: #FFFFFF;
}

.round_blue{
	background: #89D6EE;
}

.round_gray{
	background: #808080;
}

.round_cream{
	background: #F5F5DC;
}

.header-m-white{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 8.125vw;
	color: #FFFFFF;
	text-align: center;
}

#carouselRev{
	margin-top: 15.3125vw;
	margin-bottom: 15.3125vw;
}

#carouselRev div img{
	height: 161.875vw;
	width: 100%;
}

/*Main content end!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*!!!!!!!!!!!!!!!!!FOOTER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


footer{
	background-color: #439A97;
}

.footer-block{
	margin-bottom: 12.8125vw;
	margin-top: 12.8125vw;
	color: #FFFFFF;
	text-align: center;
}

.footer-block div{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 5.625vw;
	text-transform: uppercase;	
	margin-bottom: 	2vw;
}

.footer-logo{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 9.375vw;
}

.footer-logos{
	position: 	relative;	
	height: 	25vw;
}

.footer-logos img{
	position: 	absolute;
	width: 	12.5vw;
	height: 	12.5vw;	
}

.footer-logos img:nth-child(1){
	left:17.8125vw;
}

.footer-logos img:nth-child(2){
	right:17.8125vw;
}

.footer-logos img:nth-child(3){
	left:43.125vw;
}


/*!!!!!!!!!!!!!!!!FOOTER END!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Media-queries!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*-------------------------- MD ------------------------------*/
@media (min-width: 768px){

	.md-absolute{
		position: absolute;
	}

	.md-relative{
		position: relative;
	}

	/*----------------------NAVBAR-------------------------*/
	nav{
		height: 52px;
	}

	header{
		position: sticky;
		top: 0;
		z-index: 999;	
	}

	.navbar-brand div img{
		width: 50px;
		height: 50px;
	}

	.navbar-brand span{
		font-family: 'Playfair Display';
		font-style: normal;
		font-weight: 700;
		font-size: 1.3rem;
		color: #411F15;
		text-shadow: none;	
	}

	.nav-item{
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 400;
		text-align: center;
		font-size: .875rem;
		color: #411F15	 !important;
	}

	/*--------------------NAVBAR END ----------------------*/


/*---------------------MAIN CONTENT ---------------------------*/

	.main-content{
		width: 100%;
		padding-right: calc((100vw - 768px) / 2);
		padding-left: calc((100vw - 768px) / 2);
	}

	.bg-desktop-wh{
		background-color: #ffffff;
	}

	.main-content > div:nth-child(3){
		height: 484px;
	}

	.header-d-black-lg{
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 400;
		font-size: 3.46rem;
		color: #411F15;
		left: 5%;
		top: 5%;
	}

	.blue-rectangle{
		background: rgba(67, 154, 151, 0.24);
		border: 2px solid #439A97;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		font-family: 'PT Serif';
		font-style: italic;
		font-weight: 400;
		font-size: 1.6rem;
		color: #534A39;
		width: 224px;
		height: 115px;
		left: 33%;
		top: 47%;
		z-index: 998;
		padding-left: 1%;
		padding-bottom: 2%
	}

	.adv-img-d-corner{
		height: 356px;
		width: 311px;
	}

	.adv-img-d-left{
		bottom: 0;
		left: 0;
	}

	.adv-img-d-right{
		top: 0;
		right: 0;
	}

	.slogans{
		display: flex;
		bottom: 13%;
		right: 2%;
		list-style-image: url("../img/icons/list_marker_blue.png");
	}

	.slogans li{
		margin-left: 30px;
	}

	.slogans li span{
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: 400;
		font-size: .86rem;
		color: #000000;
	}

	.pink-button{
		font-size: 1.12rem;
		width: 195px;
		height: 30px;
		bottom: 0;
		right: 15%;
	}

	.main-content > div:nth-child(4){
		display: flex;
	}
	
	.adv-img-d-50{
		width: 50%;
		background-color: 	rgba(67, 154, 151, 0.8);
	}

	.adv-img-d-50 img{
		margin: 0;
		width: 100%;
	}

	.adv-text-d-50{
		width: 50%;
		margin: 0;
		background-color: 	rgba(67, 154, 151, 0.8);
		padding: 14px;
	}

	.adv-text-d-50 div{
		font-size: 	1.21rem;
	}

	.header-d-black-md{
		font-size: 	2rem;	
		font-family: 'PT Serif';
		font-style: normal;
		font-weight: 700;
	}

	.adv-text-d-50 .header-d-black-md{
		text-align: center;	
	}

	.main-content > div:nth-child(5){
		width: 100%;
		height: 530px;
	}

	.adv-container-black-d{
		width: 298px;
		height: 218px;
		left: 3%;
		top: 14%;
	}

	.adv-container-black-d div{
		font-size: 2.59rem;
		color: #411F15;
	}

	.adv-container-black-d div:nth-child(1){
		left: 0;
		top: 0;
	}

	.adv-container-black-d div:nth-child(2){
		left: 64%;
		top: 0;
	}

	.adv-container-black-d div:nth-child(2){
		left: 64%;
		top: 0;
		color: #439A97;
	}

	.adv-container-black-d div:nth-child(3){
		left: 44%;
		top: 37%;
	}

	.adv-container-black-d div:nth-child(4){
		left: 86%;
		top: 75%;
	}

	.unicornlab-name{
		top: 146%;
		left: 75%;
		border-width: 4px;
		border-radius: 10px;
		font-weight: 400;
		font-size: 2.16rem;
	}

	.adv-img-d-bottom img{
		width: 343px;
		height: 501px;
		margin: 0;
	}

	.adv-img-d-bottom{
		right: 4%;
		bottom: 0;
	}

	.blue-shadow{
		width: 343px;
		height: 501px;
		background: rgba(67, 154, 151, 0.8);
		top: 0;
		right: 0;
	}

	.adv-round{
		width: 221px; height: 221px;
		border-radius: 100%;
		background: rgba(67, 154, 151, 0.8);
		bottom: 4%;
		left: 2%;
	}

	.adv-round img{
		width: 80%;
		height: 80%;
		border-radius: 100%;
		bottom: 3%; right: 3%;
	}

	/*------------------MAIN CONTENT END -----------------------------*/
}

/*-------------------------- LG ------------------------------*/
@media (min-width: 992px){

	/*---------------------MAIN CONTENT ---------------------------*/

	.main-content{
		width: 100%;
		padding-right: calc((100vw - 992px) / 2);
		padding-left: calc((100vw - 992px) / 2);
	}

	.main-content > div:nth-child(3){
		height: 626px;
	}

	.header-d-black-lg{
		font-size: 4.47rem;
	}

	.blue-rectangle{
		width: 295px;
		height: 150px;
		font-size: 2.07rem;
	}

	.slogans li span{
		font-size: 1.12rem;
	}

	.adv-img-d-corner{
		width: 402px;
		height: 460px;
	}

	.pink-button{
		font-size: 1.45rem;
		height: 38px;
		width: 252px;
	}

	.adv-text-d-50{
		padding: 18px;
	}

	.adv-text-d-50 div{
		font-size: 	1.56rem;
	}

	.header-d-black-md{
		font-size: 	2.57rem;
	}

	.main-content > div:nth-child(5){
		height: 685px;
	}

	.adv-img-d-bottom img{
		width: 443px;
		height: 647px;
	}

	.blue-shadow{
		width: 443px;
		height: 647px;
	}

	.adv-container-black-d{
		width: 384px;
		height: 282px;
	}

	.adv-container-black-d div{
		font-size: 3.35rem;
	}

	.adv-round{
		width: 286px; height: 286px;
	}

	/*------------------MAIN CONTENT END -----------------------------*/

}

/*-------------------------- XL ------------------------------*/
@media (min-width: 1200px){
	/*---------------------MAIN CONTENT ---------------------------*/

	.main-content{
		width: 100%;
		padding-right: calc((100vw - 1200px) / 2);
		padding-left: calc((100vw - 1200px) / 2);
	}

	.main-content > div:nth-child(3){
		height: 757px;
	}

	.header-d-black-lg{
		font-size: 5.41rem;
		left: 4%;
		top: 4%;
	}

	.blue-rectangle{
		width: 350px;
		height: 178px;
		font-size: 2.5rem;
	}

	.slogans li{
		margin-right: 20px;
	}

	.slogans li span{
		font-size: 1.35rem;
	}

	.adv-img-d-corner{
		width: 482px;
		height: 551px;
	}

	.pink-button{
		font-size: 1.76rem;
		height: 45px;
		width: 305px;
	}

	.adv-text-d-50{
		padding: 22px;
	}

	.adv-text-d-50 div{
		font-size: 	1.9rem;
	}

	.header-d-black-md{
		font-size: 	3.11rem;
	}

	.main-content > div:nth-child(5){
		height: 828px;
	}

	.adv-img-d-bottom img{
		width: 536px;
		height: 783px;
	}

	.blue-shadow{
		width: 536px;
		height: 783px;
	}

	.adv-container-black-d{
		width: 465px;
		height: 341px;
	}

	.adv-container-black-d div{
		font-size: 4.05rem;
	}

	.adv-round{
		width: 346px; height: 346px;
	}


	/*------------------MAIN CONTENT END -----------------------------*/
}

/*-------------------------- XXL ------------------------------*/
@media (min-width: 1400px){
	
}


/*MQ END!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
