*{
	box-sizing: border-box;
	font-size: 16px;
}

/*------------------------ HEADER ------------------------*/

.navbar-brand span{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nav-img{
	width: 42px;
	height: 42px;
}

header{
	background-color: #69AEAC;
	width: 100%;
	border-width: 0;

}


.navbar{
	background-color: #69AEAC !important;
}

.nav-item{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF !important;
}

/*--------------- HEADER END ------------------------*/

/*Main content !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.gradient{
	background: linear-gradient(to bottom, #69AEAC, rgba(0, 0, 0, 0));
    width: 100%;
    height: 20px;
    top:0;
}

.adv-img-m-0 img{
	width: 100%;
}

.bg{
	padding-top: 3.125vw;
	padding-bottom: 6.25vw;
}

.blue-bg{
	background-color: #69AEAC;
}


.discription-m-white{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 6.875vw;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slogans{
	list-style-image: url("../img/icons/list_marker_white.png");
	margin-left: 20%;
/*	display: flex;
	flex-direction: column;
	align-items: center;*/
}

.slogans li span{
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 5vw;
	color: #000000;
}

.pink-button{
	background: #F49AB4;
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 46.875%;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 5vw;
	color: #411F15;
	margin-left: 26%;
}


.header-m-black{
	text-align: center;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 8.125vw;
	color: #411F15;
	margin-bottom: 4vw;
}

.adv-img-m-45 img{
	margin-left: 4.5%;
	margin-right: 4.5%;
	width: 91%;
}

.adv-text-m-45{
	margin-left: 4.5%;
	margin-right: 4.5%;
}

.adv-text-m-45 div{
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 5vw;
	color: #411F15;
	text-indent: 9.375%;
}

.adv-container{
	position: relative;
	width: 100%;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
}

.adv-container-wh{
	height: 58.125vw;
	color: #FFFFFF;
}

.adv-container-br{
	height: 70.9375vw;
	color: #411F15;
}

.adv-container-wh div{
	font-size: 8.75vw;
	position: absolute;
}

.adv-container-wh div:nth-child(1){
	left: 8.125%;
}

.adv-container-wh div:nth-child(2){
	top: 25%;
	left: 54%;
	font-weight: 900;
}

.adv-container-wh div:nth-child(3){
	top: 42%;
	left: 15.6%;
}

.adv-container-wh div:nth-child(4){
	top: 57.5%;
	left: 57%;
}

.unicornlab-name{
	font-family: 'Playfair Display';
	font-style: normal;
	font-size: 9.375vw;
	color: #439a97;
	background: #FFFFFF;
	border: 1.25vw solid #439A97;
	border-radius: 3.125vw;
	top: 85%;
	left: 33%;
}

.adv-container-br div{
	font-size: 9.375vw;
	position: absolute;
}

.adv-container-br div:nth-child(1){
	top: 12%;
	left: 8.125%;
}

.adv-container-br div:nth-child(2){
	top: 39%;
	left: 35%;
	color: #439A97;
	font-weight: 700;
}

.adv-container-br div:nth-child(3){
	top: 62%;
	left: 8.125%;
}

#carouselExampleControls div img{
	height: 145.3125vw;
	width: 100%;
}

.mt-m-6_25vw{
	margin-top: 6.25vw;
}

.adv_card{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.adv_card img{
	width: 90%;
	margin-top: 7.8125vw;
	border-radius: 5px;
	margin-bottom: 3.4375vw;
}

.cloth_name{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 4.375vw;
	text-align: center;
	color: #411F15;
	margin-bottom: 3.4375vw;
}

.materials{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 4.375vw;
	color: #411F15;
	margin-bottom: 3.4375vw;
	text-align: center;
}

.btn_2{
	margin-bottom: 3.4375vw;
	background: #FFFFFF;
	border: 1px solid #439A97;
	border-radius: 7px;
	color: rgba(65, 31, 21, 0.65);
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 5,625vw;
}

.rounds{
	display: flex;
	margin-bottom: 4.6875vw; 
}

.round{
	width: 4.6875vw;
	height: 4.6875vw;
	margin-right: 1vw;
	margin-left: 1vw;
	border: 1px solid #439A97;
	border-radius: 100%;
}

.round_black{
	background: #000000;
}

.round_white{
	background-color: #FFFFFF;
}

.round_blue{
	background: #89D6EE;
}

.round_gray{
	background: #808080;
}

.round_cream{
	background: #F5F5DC;
}

.header-m-white{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 8.125vw;
	color: #FFFFFF;
	text-align: center;
}

#carouselRev{
	margin-top: 15.3125vw;
	margin-bottom: 15.3125vw;
}

#carouselRev div img{
	height: 161.875vw;
	width: 100%;
}

footer{
	background-color: #439A97;
}

.footer-block{
	margin-bottom: 12.8125vw;
	margin-top: 12.8125vw;
	color: #FFFFFF;
	text-align: center;
}

.footer-block div{
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	font-size: 5.625vw;
	text-transform: uppercase;	
	margin-bottom: 	2vw;
}

.footer-logo{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 9.375vw;
}

.footer-logos{
	position: 	relative;	
	height: 	25vw;
}

.footer-logos img{
	position: 	absolute;
	width: 	12.5vw;
	height: 	12.5vw;	
}

.footer-logos img:nth-child(1){
	left:17.8125vw;
}

.footer-logos img:nth-child(2){
	right:17.8125vw;
}

.footer-logos img:nth-child(3){
	left:43.125vw;
}

/*Main content end!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
